@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{font-family: "roboto";}
nav li {
  display: inline;
  padding: 15px;
}
nav a {
  color: blueviolet;
  text-decoration: none;
  font-size: 20px;
}
.hello{
    
}
.hello h1 {
  color: brown;
  text-align: center;
  border: 1px solid brown;
  margin-left: 400px;
  margin-right: 400px;
  border-radius: 20px;
} 

.hello h2 {
  color: brown;
  text-decoration-line: underline;
} 
h3 {
  color: blue;
}
p {
  font-family: Georgia, "Times New Roman", Times, serif;
}
p {
  font-size: medium;
}
h4 {
  color: blue;
}
li{font-family: 'Times New Roman', Times, serif;} 